/* Quiz APP Project
Developed By : Sajjad Saberi in Parsi-Code.Ir */

:root {
    --whiteColor: #fff ;
    --bgColor: #6757d9 ;
}

h1 {
    color: var(--bgColor);
    margin-bottom: 50px;
    font-size: 2.5rem;
}

.container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 20px;
}

a {
    background-color: var(--whiteColor);
    margin-bottom: 30px;
    padding: 20px 40px;
    font-size: 1.5rem;
    color: var(--bgColor);
    text-decoration: none;
    border-radius: 20px;
    transition: all 0.2s ease-in;
}

a:hover {
    background-color: var(--bgColor);
    color: var(--whiteColor);
    transition: 0.2s;
}